{% extends "base.html.twig" %}
{% block body %}
	<h1>Hello
		{{nom}}</h1>

		<h2>Nos formateurs</h2>
        {% set formateur = formateur1 %}
		{% include "_formateur.html.twig" %}
		{% set formateur = formateur2 %}
        {% include "_formateur.html.twig" with {"formateur": formateur2} %}

		

{% endblock %}
{% block title %}
	Hello
	{{ nom }}
{% endblock %}
