<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Document</title>
	</head>
	<body>
		<h1>Hello
			{{nom}}</h1>

		<p>Vous avez
			{{age}}
			ans</p>*

		{% if age >= 18 %}
			Vous étes un adulte
		{% else %}
			Vous étes un enfant
			{%endif%}

			<ul>
				{% for personne in pernoms %}
					<li>{{ personne | upper }}</li>
				{% endfor %}
			</ul>
			<ul>
				{% for i in 1..10 %}
					<li>
						Numéro
						{{ i }}

					</li>
				{% endfor %}
			</ul>
		</body>
	</body>
</html>
