{% extends "base.html.twig" %}


{% block body %}

	<h1>
		Nos produits phares</h1>
	<div class="row">
		{% for product in products %}
			<div class="col">
				{% include "product/_product_card.html.twig"  with {'p':product} %}
			</div>
		{% endfor %}
	</div>
	<hr>
	<h2>Un service irreprochable</h2>
	<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel error officiis dolor quaerat sit impedit.</p>
	<div class="row">
		{% include "shared/_assurance.html.twig" with {
            'color': 'primary',
            'icone': 'fas fa-truck',
            'text': 'Lorem ipsum dolor sit amet consectetur adipisicing elit met consectetur adipisicing'
        } %}
		{% include "shared/_assurance.html.twig" with {
            'color': 'success',
            'icone': 'fas fa-check',
            'text': 'Lorem ipsum dolor sit amet consectetur adipisicing elit met consectetur adipisicing'
        } %}
		{% include "shared/_assurance.html.twig" with {
            'color': 'warning',
            'icone': 'fas fa-lock',
            'text': 'Lorem ipsum dolor sit amet consectetur adipisicing elit met consectetur adipisicing'
        } %}
	</div>

{% endblock %}
